body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #171a21;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

section {
    padding: 20px;
}

.game {
    display: inline-block;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.game img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #171a21;
    color: #fff;
    padding: 10px;
    text-align: center;
}


a {
    color: #0078d7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #663399;
}

@media (max-width: 768px) {
    .game {
        width: 100%;
    }
}